@model soft98.DataAccessLayer.Entities.Matlab
@{
    ViewData["Title"] = "مطالب  ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="softwareDet" style="align-items: start;">
    <div class="title-adverb">
        <i class="fa fa-pause" style="color: darkgray; padding: 5px;"></i>
        @Model.Title
    </div>
    <div class="seen">
        <div class="pull-right" style=" font-size: 13px; position: relative; top: 7px;">
            <i class="fa fa-eye" style="color: darkgray; padding: 5px;"></i>
            @Model.NumberSeen بازدید
        </div>
        <div class="pull-left" style="position: relative;top: -15px;left: 10px;">
            @Model.Date
        </div>
    </div>
    <div style="display: grid; width: 98%;">
        <div class="product-wrap">
            <div class="product-content pull-right" style="grid-area: descrip;">
                @Model.Description
            </div>
        </div>
        <div style="display: grid; grid-template-columns:1fr;">

            <div class="center-block support">
                <p style="font-size: 14px; line-height: 1.5; text-align: center;">در صورت مشکل در نصب نرم‌افزار و یا هر مشکلی در زمینه کامپیوتر و موبایل با شماره پشتیبانی 0922222222 از سراسر کشور با تلفن ثابت تماس بگیرید.برای تماس با تلفن همراه و استفاده از تخفیف 40درصدی به سایت پشتیبانی تماس بیگرید.</p>
            </div>
             
        </div>

    </div>
</div>
