body {
    direction: rtl;
    font-family: 'B Yekan', Tahoma;
    line-height: 1.2;
    overflow-x: hidden;
}

.header {
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
    box-shadow: 2px 2px #e9e5e5;
}
a {
    text-decoration: none;
}
ul {
    background-color: transparent;
    list-style: none;
    margin: 0;
    padding-left: 0;
}
li {
    color: black;
    background-color: #f5f5f5;
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
    margin-left: -10px;
}
li a#menu1 {
    color: black;
}

    li a#menu1:hover {
        color: white;
        text-decoration: none;
        background-color: #7bad49;
        border-radius: 5px;
        padding: 10px 20px;
    }
ul li ul {
    width: 500%;
    height: 300px;
    position: absolute;
    left: 0;
    right: 10px;
    background-color: #f5f5f5;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease;
    display: none;
    margin-top: 0;
    color: #7bad49;
    text-align: right;
    min-width: 5rem;
    z-index: 2;
 
}
    ul li ul li ul {
        width: 500%;
        height: 300px;
        position: absolute;
        left: 0;
        right: 10px;
        background-color: #f5f5f5;
        visibility: hidden;
        opacity: 0;
        transition: all 0.5s ease;
        display: none;
        margin-top: 20px;
        color: #7bad49;
        text-align: right;
        min-width: 5rem;
    }
    ul li:hover ul {
    display: block;
    visibility: visible;
    opacity: 1;
}
ul li ul  a#menu2 {
    display: block;
    margin-top: 20px;
    border-bottom: 1px solid #7bad49;
    padding: 10px 30px;
    margin-right: -30px;
}
ul li ul li  ul li {
    display: block;
    top: -30px;
    float: right;
    clear: both;
    text-align: right;
}
ul li ul li ul a#menu3 {
    text-decoration: none;
    color: black; clear: both;
    display: block;
}
a#menu2:hover {
    text-decoration: none;
}
ul li ul li ul {
    width: 100%;
    height: 190px;
    margin-right: 10px;
}
.arrow-left {
    padding: 5px;
}



.Home {
    color: black;
    margin: 5px 50px 0 10px;
    font-size: 17px;
    padding: 10px 15px;
}
.arrow-headers {
    font-size: 20px;
    color: #7bad49;
}

.Home:hover {
    color: white;
    text-decoration: none;
    background-color: #7bad49;
    border-radius: 5px;
}

.headerIcon {
    font-size: 22px;
    color: #666;
    margin: 18px 0  0 15px;
}

    .headerIcon:hover {
        color: #666;
    }
.pull-left {
    float: left !important;
}
.modalH {
    background-color: #437593;
    color: white;
    font-size: 20px;
}
.btn-green {
    background-color: #7bad49;
    color: white;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 5px;
}
.btn-green:hover {
    background-color: green;
}
.textlogin {
    color: #4fa8c4;
    font-size: 18px;
}
.textlogin:hover {
    color: red;
    text-decoration: none;
}
.arrow-header {
    color: #7bad49;
    font-size: 20px;
    margin: 0x 0 0 -5px;
}
.headerIconLogin {
    font-size: 19px;
    margin: 15px 0 0 20px;
    color: black;
    padding: 5px 15px;
}
.headerIconLogin:hover {
    color: white;
    text-decoration: none;
    background-color: #7bad49;
    border-radius: 5px;
}
.headerIconLogin:hover ~ .arrow-header {
    font-size: 30px;
    margin: 0 0 0 -15px !important;
    transition: 0.2s;
    color: #7bad49;
}
.submenu {
    display: none;
    position: absolute;
    left: 0;
    top: -4px;
    background-color: #f5f5f5;
    width: 200px;
    height: auto;
    z-index: 1;
    margin: 60px 0 0 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 5px 5px rgba(0,0,0,.25);
}
.submenu a {
    float: right;
    color: black;
    text-decoration: none;
    padding: 5px;
    width: 100%;
    display: block;
    font-size: 14px;
}
    .submenu a:hover {
        background-color: #888888;
    }
    .dropdown {
        display: inline-block;
        position: relative;
    }
    .dropdown:hover .submenu{
        display: block;
    }
    .headerIconLogin:focus ~ .submenu {
        display: block;
    }
    .wellcome {
        color: #7bad49;
        font-size: 18px;
        padding: 10px;
    }
    .exit {
        border-top: 1px solid darkgray;
        color: #f82929 !important; 
    }
.divSearch input[type=text] {
    font-size: 16px;
    float: left;
    width: 30px;
    transition: width 0.4s ease-in-out;
    background-color: transparent;
    background-image: url('/Images/search.png') ;
    background-position-y: center;
    background-repeat: no-repeat ;
    border: none;
    margin-top: 5px;
    margin-right: 10px;
}
.divSearch {
    position: relative;
    top: 10px;
}
    .divSearch input[type=text]:focus {
        width: 15%;
        border-radius: 5px;
        outline: 1px solid;
        box-shadow: 3px 3px #4fa8c4;
    }
    .divSearch input[type=text]:visited {
        content: "";
    }

    .questionIcon {
        color: red;
        font-size: 18px;
        margin: 31px 0 0 -6px;
        animation: blinker 2s infinite; 

    }
    @keyframes blinker {
        50% {
            opacity: 0;
        }

}
.modalStyle2 {
    background-color: black;
    opacity: 0.6;
    color: white;
    border-radius: 5px;
}


 /*//////////////////موبایل منو ///////////////////////////////*/
 .sidebar {
     height: auto;
     position: fixed;
     min-height: 645px;
     width: 0;
     z-index: 1;
     top: 0;
     right: 0;
     background-color: #f5f5f5;
     overflow-x: hidden;
     overflow-y: auto;
     padding-top: 60px;
     transition: 0.5s;

 }
 .sidbar a {
     text-decoration: none;
     font-size: 18px;
     padding: 8px;
     padding-left: 32px;
     color: black;
     transition: 0.3s;

 }
.arrowSide {
    color: #7bad49;
}
#menu1:hover .arrowSide {
    color: #f1f1f1;
}
.Closebtn {
    color: #7bad49;
    font-size: 32px;
    position: absolute;
    top: 0;
    left: 5px;
    margin-right: 50px;
}
.openbtn {
    font-size: 28px;
    cursor: pointer;
    background-color: #f5f5f5;
    color: #7bad49;
    border: none;
    padding: 10px 15px;
}
.openbtn:hover {
    background-color: #7bad49;
    color: white;

}
#submenus {
    display: none;
}
    #submenus a {
        display: inline-block;
        margin: 5px 0;
    }
.menu-btn {
    color: black;
    margin: 10px 50px 0 10px;
    font-size: 19px;
    padding: 10px 15px;
}
.menu-btn:hover {
        color: white;
        text-decoration: none;
        background-color: #7bad49;
        border-radius: 5px;
    }
@media (min-width: 1200px) {
    .visible-lg {
        display: block !important;
    }

}

@media (min-width: 992px) and (max-width: 1199px) {
    .visible-md { display: block !important; }
}



/*/////////////////////main//////////////////////////*/
.Main {
    width: 100%;
    height: auto;
    background-color: #437593;
    overflow-y: hidden;
}
.matlab {
    width: 100%;
    margin: 0 auto;
    height: 500px;
    overflow-y: hidden;
    background-color: #fff;
    border-radius: 5px;
    position: relative;
}
.tablink {
    border: none;
    background-color: #f0fff0;
    border-left: 1px solid #d0d0d0;
    border-right: 1px solid #d0d0d0;
    border-bottom: 1px solid #d0d0d0;
    color: #444;
    float: right;
    padding: 10px;
    font-size: 17px;
    width: 25%;
    height: 55px;
}
.logoMain {
    width: 85%;
    margin: 0 auto;
}
.tablink:active {
    color: black;
    background-color: #fff;
    text-decoration: none;
    border-bottom: none;
}
.tablink:focus {
    color: black;
    background-color: #fff;
    text-decoration: none;
    border-bottom: none;
}
.tablink:hover {
    color: black;
    text-decoration: none;
}
.softlogo {
    color: #0094ff;
    font-size: 22px;
    padding:2px 5px;
}
.mobilelogo {
    color: #7bad49;
    font-size: 25px;
    padding:2px 5px;
}
.tabTech {
    text-decoration: none;
    border: none;
    font-size: 17px;
    background-color: #fff;
 
    overflow-y: hidden;
    color: #444;
 
}
.titleTech {
    text-decoration: none;  
    /* border: none; */
    font-size: 18px;
    background-color: #fff;
    padding: 5px 10px;
    overflow-y: hidden;
    color: #444;
    font-size: 25px;
    width: 25%;
    height: 35px;
}

.tech-wrap {
    border-bottom: 1px solid #d0d0d0;
    padding: 7.5px;
}
.titleTech:focus {
    color: #444;
    text-decoration: none;
}
    .titleTech:hover {
        color: #444;
        text-decoration: none;
    }
    .iconTech {
    float: left;
        font-size: 20px;
        color: #444444;
        text-decoration: none;
        padding: 0 10px;
    }
.insta , .face , .twit{
    transition: all 0.5s;
    color: #444;
}
 
.insta:hover {
    color: #dc143c;
}

.twit:hover {
    color: deepskyblue;
}

.face:hover {
    color: #0000ff;
}

.tabTech:hover {
    text-decoration: none;
    color: #444;
}
.techlogo {
    font-size: 23px;
    padding: 5px;
    margin: 3px 5px;
    font-weight: 100;
}
.tabcontent {
    width: 50%;
    background-color: #fff;
    float: right;
    padding: 15px 0 0 0;
    display: none;
    height: 100%;
    border-left: 1px solid #d0d0d0;
    border-right: 1px solid #d0d0d0;
    border-bottom: 1px solid #d0d0d0;
}

.content {
    font-size: 14px;
    padding: 5px;
    color: #444;
    float: right;
}
.content:focus , .content:hover {
    color: gray;
    text-decoration: none;
}
.matlab-items {
    float: right;
    display: block;
    width: 100%;
    /* line-height: 1; */
    padding: 0;
    background-color: transparent;
}
.matlab-tech-items {
    float: right;
    display: block;
    width: 50%;
    /* line-height: 1; */
    padding: 0;
    background-color: transparent;
}

/*///////////// Adverb /////////////////*/
.product {
    width: 100%;
    margin: 0 auto;
    border-top: 1px solid #d0d0d0;
    height: auto;
    background-color: #fff;
    border-radius: 5px;
    float: right;
    position: relative;
}
.adverb {
    width: 350px;
    border-radius: 5px;
    border: 1px solid #d0d0d0;
    margin: 20px;
    float: right;
    position: relative;
}
.title-adverb {
    height: 50px;
    color: #7bad49;
    border-bottom: 2px solid #7bad49;
    padding: 10px;
    background-color: #f1f1f1;
    font-size: 18px;
}

.adverb-content {
    height: 250px;
    border: 1px solid #d0d0d0;
    margin: 20px;
    background-color: aqua;
}

.software {
    width: 850px;
    background-color: white;
    border: 1px solid #d0d0d0;
    margin: 20px;height: 350px;
    float: right;
    position: relative;
    border-radius: 5px;
}
.seen {
    border-bottom: 1px solid #d0d0d0;
    height: 40px;
}
.product-content {
    height: 200px;
    color: #555;
    padding: 5px;
}
.countinue {
    border-bottom: 1px solid #d0d0d0;
    background-color: #f1f1f1;
    height: 58px;
}
.btn-contitue {
    color: white;
    text-decoration: none;
    position: relative;
    top: 18px;
    padding: 7px 16px;
    font-size: 15px;
    background-color: #7bad49;
    border: 1px solid darkgreen;
    margin: 7px 20px;
    border-radius: 5px;
}
.btn-contitue:hover {
    text-decoration: none;
    background-color: #6a963e;
    color: white;
}
@media screen and (max-width: 1200px) {
} 
@media screen and (max-width: 820px) {
    .techlogo {
        font-size: 15px;
    }
    .tabTech {
        font-size: 12px
    }
    .iconTech {
        font-size: 15px;
        padding: 0 3px
    }
    .titleTech {
        padding: 5px 2px;
        width: unset;
    }
    .tablink {
        font-size: 12px;
    }
    .softlogo {
        font-size: 15px;
    }
    .mobilelogo {
        font-size: 15px;
    }
    .tech-wrap {
        padding: 11.5px
    }
    .content {
        font-size: 12px;
    }
    .divSearch input[type=text]:focus {
        width: 22%;
        }
    }
@media screen and (max-width: 450px) {
    .divSearch input[type=text]:focus { }
    .techlogo {
        font-size: 12px;
    }

    .tabTech {
        font-size: 10px
    }

    .iconTech {
        font-size: 11.5px;
        padding: 0 5px;
    }
    .titleTech {
        margin-left: -18px;
    }
    .tablink {
        font-size: 10px;
    }

    .softlogo {
        font-size: 13px;
    }
    .logoMain {
        width: 88%;
    }
    .mobilelogo {
        font-size: 13px;
    }

    .tech-wrap {
        padding: 11.5px
    }

    .content {
        font-size: 10px;
    }
    }