@model soft98.DataAccessLayer.Entities.Matlab

@{
    ViewData["Title"] = "ویرایش مطلب";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-lg-12 col-lg-offset-0 col-md-12 col-md-offset-0 col-sm-12
     col-sm-offset-0 col-xs-12 col-xs-offset-0" style="margin-top: 50px;">
    <h3 class="pull-right title-h">ویرایش مطلب</h3>
    <h3 class="pull-left">
        <a asp-action="Index" class="btn-orange">بازگشت</a>
    </h3>
</div>
<div class="clearfix"></div>
<br />
<div class="col-lg-12 col-lg-offset-0 col-md-12 col-md-offset-0 col-sm-12
        col-sm-offset-0 col-xs-12 col-xs-offset-0">
    <form asp-action="Edite" class="table-chart">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="Title" class="control-label labelStyle"></label>
            <input asp-for="Title" class="form-control"  style="margin-right: 10px; font-size: 17px;"/>
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="control-label labelStyle"></label>
            <textarea asp-for="Description" class="form-control" style="margin-right: 10px; font-size: 17px;"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <div class="checkbox" style="color: #dbd8d8">
                <input style="margin-right: 100px"  asp-for="Show" /> @Html.DisplayNameFor(model => model.Show)
            </div>
        </div>
        <div class="form-group">
            <div class="checkbox" style="color: #dbd8d8">
                <input style="margin-right: 100px"  asp-for="IsSoft" /> @Html.DisplayNameFor(model => model.IsSoft)
            </div>
        </div>
        <div class="form-group">
            <div class="checkbox" style="color: #dbd8d8">
                <input style="margin-right: 100px"  asp-for="IsMobile" /> @Html.DisplayNameFor(model => model.IsMobile)
            </div>
        </div>
        <div class="form-group">
            <div class="checkbox" style="color: #dbd8d8">
                <input style="margin-right: 100px"  asp-for="IsTech" /> @Html.DisplayNameFor(model => model.IsTech)
            </div>
        </div>
        <div class="form-group">
            <input type="submit"  value="اعمال تغییرات" class="btn btn-orange" style="width: 20%;margin-right: 40%;" />
        </div>
    </form>
</div>

