@model soft98.DataAccessLayer.Entities.BannerFactor

@if (Model != null)
{
    if (Model.IsExpire == false)
    {
        <a href="@Model.PicLink" target="_blank"><img  src="~/Images/@Model.PicName" style="width: 100.5%;height: 100%;"/> </a>
    }
  
}
else
{
    <p class="text-center" style="margin-top: 35%; font-size: 25px;">جایگاه تبلیغ شما </p>
}